@charset "UTF-8";
body {margin: 0;}
p {font-size: 18px;}
li {font-size: 19px;margin: 10px;}
h1 {text-align: center;}
main {margin: 10px;}
strong {color: chocolate;}
div{text-align: center;}
img {width: 390px;height: 400px;}