@charset  "UTF-8";
body {background-color: black;}
#h1Especial{font-size: 25px;}
h1 { color: rgb(255, 0, 0);text-shadow:2px 2px rgb(116, 0, 0);font-size: 20px}
header >h1 {display: inline;padding-right: 20px;}

span > p {position: relative;right: -600  ;}
  h2 { display: inline-block; /* Torna o h2 em um bloco de linha com largura automática */
    padding: 10px; /* Adiciona espaçamento interno ao redor do texto */
    border: 2px solid #383838; /* Adiciona uma borda sólida com uma cor escura (#333) */
    border-radius: 8px; /* Adiciona bordas arredondadas */
    margin: 15px;}

    h3 {font-size: 20px;color: rgb(55, 100, 100);}
    .so {width: 70px;}
    img {width: 118px;height: 200px;  border: 2px groove red; border-radius: 5px;margin:  5px;}
    img:hover {transform: scale(1.1)}

    .seta  {width: 120px;height: 120px;padding: 0px;border: 0px;}
    
  header {color: #a76868; padding: 1px;color: rgb(255, 153, 0);background-color: rgb(0, 0, 0);}
  nav {padding: 10px;color: #242424;background-color: #383838; }
    a {text-decoration: none;color: #383838;}
    a:hover {color: #242424;}
    p {display: inline;}
  #menu {display:inline;padding: 10px;
    color: rgb(255, 255, 255);font-size: 18px
    ;margin: 0px;cursor: pointer;}
  #sub-menu{ display: none;text-decoration: none; background-color: black;
    padding-top: 10px; margin-left: 220px;position: absolute;border: 1px solid #383838;padding: 10px;} 
  #menu:hover {color: rgb(156, 173, 168);}
  #menu:hover > #sub-menu {display: block;}
  #sub-menu:hover {color: #242424;}
  .de {color: white;}

  #atores {color: aliceblue;font-size: 18px;
    margin-left: 20px;cursor: pointer;padding: 10px;}
  #atores-sub{display: none;margin-left: 330px;;position: absolute;border: 1px solid #383838;padding: 10px;}
 #atores:hover > #atores-sub {display: inline;}








    h3 { display:inline}
    
  footer > p {font-size: 20px;color: #8b8b8b;}

#preto {display: none;}

button {background-color: black;width: 30px;
height: 30px; border-radius: 10px
;padding-right: 50px;}

#bolaB {width: 15px;height: 15px;
background-color: rgb(255, 255, 255);
border-radius: 50%;}

#bolaP {width: 15px;height: 15px;
background-color: rgb(27, 27, 27);
border-radius: 50%;}

#preto {transform: rotate(180deg);}

#voltaAOtopo {position: relative;right: -48%; behavior: smooth;transform: rotate(270deg);border: 0;
width: 120px;height: 120px;}
