@charset "UTF-8";
body {background-color: black;}
h1 {display: inline;}


 h1 {text-align: center;color: rgb(0, 91, 177);}
 img {border: 2px solid red;border-radius: 50%;
      width: 150px; height: 150px;}
 .imagem {text-align: center;}
 ul {padding: 0%;  text-decoration: none; display: flex;justify-content: space-between;}
 #Projetos:hover >span {display: block;position: absolute;right: 1%;}
 a {text-decoration: none;color: white;font-size: 20px;}
 a:hover {color: rgb(173, 173, 173);}
 li {text-decoration: none;display: inline;font-size: 20px;}
 h3 {color: beige;}
 p {color: aliceblue;font-size: 20px;}
#menu {display: none;font-size: 1px;}
a > h2 {font-size: 20px;}
div {margin: 2px;}
.projetoDIV {text-align: center;}
.PROJETOS {width: 200px;height: 200px;}
.PROJETOS:hover{transform: scale(2.2);transition: 1s;}
