@charset "UTF-8";
div {position: relative;right: -15%; text-align: center;width:445px;height:400px;
background-color: #ffbaba ;border: 1px solid black;}
#mario {width: 100px;height: 100px;position: relative;
right: 30%;top: 75%;}
#cano {width: 100px;height: 100px; 
position: relative;right: -25%;top:79% ;}
@keyframes cano {
    0% {right: -25%;}
    100% {right: 75%;}
    
}
#cano {width: 100px;height: 100px; 
    position: relative;right: -25%;top:79% ;
    animation: cano 3s infinite ;}

@keyframes pular {
     0% {top:  75%;}
     50% {top: 40%;}
     100% {top:75%;}


} 
#mario {width: 100px;height: 100px;position: relative;
    right: 30%;top: 75%;
animation: pular 2.2s infinite;}
