@charset "UTF-8";
body {margin: 0;background-color: black;}
#divIM {text-align: center;}
img {width: 70%;height: 607px;}
h1 {font-size: 60px;text-align: center;  color: white;}
p {font-size: 40px; color: white;}
h2 {color: wheat;}
strong {color: blueviolet;}
li {font-size: 40px}
