@charset "UTF-8";
body {margin: 0;background-color: black;
display: flex;justify-content: center;}
main {border-radius: 10px;
position: relative;top: 70px;
width: 300px;height: 314px;
background-color: rgb(166, 201, 248);
border: 1px solid rgb(0, 89, 255);}

h1 {text-align: center;}

.ES {width: 280px;height: 25px;border: 0;
border-radius: 10px;margin: 10px;
background-color: rgb(0, 16, 27);}
.ES:hover {border: 2px solid #292929;}

#butao {width: 230px;height: 25px;border: 0;
border-radius: 10px;background-color: black;
position: relative;left: 12%;}
#butao:hover {color: red;cursor: pointer;}
div {
padding: 5px;border-radius: 10px;
display: flex;justify-content: space-between;}
a {position: relative;top: 18px;
text-decoration: none;color: aliceblue;}
a:hover {color: rgb(112, 112, 112);}
label , p , a {color: rgb(0, 162, 190);
font-size: 18px;}
