@charset  "UTF-8";
body {display: flex;justify-content: center; background-color: black;}
main {border: 5px solid #0099ff;width: 400px;height: 350px;}

label {margin: 6px;font-size: 30px;color: aliceblue;}
input {margin: 6px;border-radius: 10px;}
    button {margin: 6px;background-color: black;color: red;} 
    p {font-size: 20px}
button:hover {color: rgb(190, 0, 0);}