@charset "UTF-8";
* {font-family:Arial, Helvetica, sans-serif}
span {display: flex;justify-content: space-between;
margin-bottom: 100px;}
#logo {width: 145px;height: 55px;}
a {text-decoration: none;color: white;
color: rgb(0, 105, 0);position: relative;
top: 10px;}
#menu {width: 50px;height: 30px;}
main {width: 400px;height: 100px;margin: auto;}
div {text-align: center;}
h2 {position: relative;right: 40%;color: rgb(178, 255, 178);}
button {border-radius: 10px; background-color: #333;width: 85px;
height: 40px}
#butaoV {background-color: rgb(73, 194, 73);}
.ES {width: 400px;height: 42px;margin-bottom: 10px;background-color: #222222;border: 0;}

label {position: relative;right: 37%;font-size: 15px;margin-bottom: 10px;}
.check {position:relative;color: rgb(255, 0, 0);}
.Esqueceu{position: relative;right: -15%;top: -1px;}
#final {width: 400px;height: 50px;
background-color: rgb(67, 163, 43);font-size: 18px;}