@charset  "UTF-8";
body {background-color: black;}
h1 { color: rgb(255, 0, 0);text-shadow:2px 2px rgb(116, 0, 0);}
/* Adicione estas regras CSS para estilizar o h2 */
header >h1 {display: inline;padding-right: 20px;}

span > p {position: relative;right: -600  ;}
  h2 { display: inline-block; /* Torna o h2 em um bloco de linha com largura automática */
    padding: 10px; /* Adiciona espaçamento interno ao redor do texto */
    border: 2px solid #383838; /* Adiciona uma borda sólida com uma cor escura (#333) */
    border-radius: 8px; /* Adiciona bordas arredondadas */
    margin: 15px;}

    h3 {font-size: 20px;color: rgb(55, 100, 100);}
    .so {width: 70px;}
    img {width: 160px;height: 240px;padding-bottom: 20px;  border: 2px groove red; border-radius: 5px;margin:  10px;}
    img:hover {transform: scale(1.1)}



    .seta-terror   {width: 120px;height: 120px;padding: 0px;border: 0px;}
    .seta-ação     {width: 120px;height: 120px;padding: 0px;border: 0px;}
    .seta-fantasia {width: 120px;height: 120px;padding: 0px;border: 0px;}
    .seta-ficção   {width: 120px;height: 120px;padding: 0px;border: 0px;}
  
    header {padding: 0px;color: rgb(255, 153, 0);background-color: rgb(0, 0, 0);}
    nav {padding: 10px;color: #000000;background-color: #383838; }
    a {text-decoration: none;color: #383838;}
    p {display: inline;}
    #menu {display:inline;color: rgb(255, 255, 255);font-size: 18px;position:relative;right: -600px;}
    #sub-menu {display: none;text-decoration: none;
    position: relative;right:  -25%;}
    #menu:hover {color: rgb(156, 173, 168);}
    #menu:hover > #sub-menu {display: block;}
    .de {color: #bfcac4;}

    #atores {color: aliceblue;font-size: 18px;position:relative;right: -450px;}
    #atores-sub{display: none;position: relative;right: -275px;padding: 10px;}
    #atores:hover > #atores-sub {display: inline;}
    h3 { display:inline}
    
    