@charset "UTF-8";
body {margin: 0;background-color: black;}
nav {display: flex;justify-content: space-between;
background-color: #111;}
p, a { color: rgb(0, 132, 255);
font-size: 20px;text-shadow: black 2px 2px 2px;
text-decoration: none;margin: 0;}

p:hover, a:hover {text-decoration: underline;
color: rgb(0, 81, 255);cursor: pointer;}

#recentes {display: none;}

#cantores {display: none;}

.imagem {width: 120px;height: 120px;margin: 10px;
border-radius: 50%;border: 2px solid palevioletred;}
.video {width:200px;height: 200px;margin: 11px;
    border-radius: 10px;border: 1px solid rgb(19, 87, 212);}
.video:hover {transform: scale(1.1);}