@charset "UTF-8";
body {background-: linear-gradient(right #C93B76 , #212936 );}
main {background-color: #2222229a;width: 300px;margin: auto;
border-radius: 10px;position: relative;top: 100px;}
#cover2{background-color: #000000;width: 300px;margin: auto;
border-radius: 10px;display: none;}
h3,p {text-align: center;}
.imagemP {text-align: center;}
.capa {width: 200px;height: 200px;}
.butao {width:30px ;height: 30px;}