*    {font-family: sans-serif;}
body {background-color: #0e0e0e;}
h1   {color: rgb(8, 137, 197);
     font-size: 50px;}

h2   {
    color: white;
     
     display: inline;
    margin-bottom: 10px;}

p    {font-size: 25px;color: rgb(0, 167, 139);
     text-align: center}

main {width: 97%; 
    border: 5px solid rgb(0, 119, 255);
    text-align:justify;
    margin: 10px;}

.per {font-size: 24px;color: rgba(0, 102, 255, 0.89); border: 5px solid rgb(0, 110, 255);border-radius: 10px;
    margin: 20px;}

.per:hover {cursor: pointer;background-color: rgb(0, 68, 131);
 color: rgb(0, 167, 139);}

 .per:active {color: rgb(0, 88, 161);}

.sumir {display: none;}
a {text-decoration: none;color:rgb(0, 167, 139);
 text-align: center;font-size: 30px; margin: 10px;}
a:hover {color:rgb(0, 102, 85) ;}

#rodada {display: none;}

img {width: 30px;height: 300px;}
#divlogo {display: flex;justify-content: space-between;}
#logo {width: 105px;height: 105px; border-radius: 50%;}
        #r1 {display: none;}
#r2  {display: none;}
#r3  {display: none;}
#r4  {display: none;}
#r5  {display: none;}
#r6  {display: none;}
#r7  {display: none;}
#r8  {display: none;}
#r9  {display: none;}
#r10  {display: none;}

#proxima {display: flex;justify-content: space-around;border-radius: 10px;
    width: 280px;height: 100px;background-color: rgb(0, 120, 201);}
.icon {width: 30px;height: 30px;position: relative;top: 10px;}