@charset "UTF-8";
body {background-color: rgb(10, 10, 10);}
header {height: 50px;background-color: rgb(0, 0, 0);}




a { border: 0;text-decoration: none;color: antiquewhite;
margin: 10px;}
a:hover {text-decoration: underline;color: #c0c0bf;}