@charset "UTF-8";
body {margin: 0;background-color: black;}
#logo {width: 106px;}
header{display: flex;}
header > div {
display: flex;justify-content: space-between;width: 100%;}
header > div > div > a {text-decoration: none;margin: 10px;
font-size: 18px;color: #444;}