@charset "UTF-8";
body {margin: 0;background-color: black;}
div {background-color: rgba(0, 0, 97, 0.336);width: 290px;border-radius: 10px;}
a {text-decoration: none;font-size: 20px;color: white;
position: relative;}
p  {text-align: center;}
 
img {width: 200px;position: relative;left: 12%;}